
<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
    <link href='../css/onepage-scroll.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
  	<div class="main">


    	<section id="home" style="background-color:black;">
    		HOME
    	</section>
    	<section id="about" style="background-color:red;">
    		ABOUT
    	</section>
    	<section id="gigs" style="background-color:blue;">
    		GIGS
    	</section>
    	<section id="blog" style="background-color:pink;">
    		BLOG
    	</section>
    	<section id="components" style="background-color:grey;">
    		COMPONENTS
    	</section>


</div>
	<script src="../script/vendor/jquery-2.1.0.js"></script>
    <script src="../script/vendor/jquery.onepage-scroll.js"></script>
    <script src="../script/main.js"></script>
  </body>
</html>
