include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'BasementOrchestra'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		link(href="/styles/site.min.css", rel="stylesheet")

		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
			script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body


		//- HEADER
		#header
			block header

		//- BODY
		#body

			//- The content block should contain the body of your template's content
			block content


		//- JAVASCRIPT
		
		script(src='/js/lib/jquery/jquery-2.1.1.min.js')
		script(src='/js/lib/bootstrap/bootstrap-3.2.0.min.js')

		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')
		block js
		
