extends ../layouts/themeDefault

block header
	include ../mixins/navHome


block content
	.container.loaded
		#skrollr-body
			main
				section#home.homeSlide
					.bcg(data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#home")
						.hsContainer
							.hsContent(data-center="opacity: 1" data-50-top="opacity: 0" data-anchor-target="#home .social")
								.logo
									img(src="/images/logo.png")
								.social

				section#home-after.homeSlide
					.bcg(data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% 0px;" data-anchor-target="#home")
						.hsContainer
							.hsContent

				section#about.homeSlide
					.bcg(data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;")
						.hsContainer
							.hsContent(data-bottom-top="opacity: 0" data-80p-top="opacity: 0" data-center="opacity: 1" data--40p-bottom="opacity: 0" data-anchor-target="#about")
								h2 About
								p Basement Orchestra is a new ensemble based in London for orchestral musicians looking to play in a challenging and interesting environment. Click play to get involved.
								p Blog coming soon. Keep your eyes open.

				section#gigs-pre.homeSlide
					.bcg(data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#gigs-pre")
						.hsContainer
							.hsContent(data-bottom-top="opacity: 0" data-25p-top="opacity: 0" data-top="opacity: 1" data-anchor-target="#gigs-pre")

				section#gigs.homeSlide
					.bcg(data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#gigs")
						.hsContainer
							.hsContent(data-bottom-top="opacity: 1" data-25p-top="opacity: 1" data-top="opacity: 1" data-anchor-target="#gigs")
								h2 Gigs 
								#owl-bo.owl-carousel
									if gigs.length
										each gig in gigs
											.item
												.content
													.box
														if gig.publishedDate
															h3 #{gig.name} ( #{gig._.publishedDate.format('Do MMM YYYY')} )
															if gig.description
																.gig-description!= gig.description
												if (gig.images[0] == undefined)
													img(src="/images/bo.jpg" width="300" height="auto").img-rounded
												else
													img(src=gig.images[0].url width="300" height="auto").img-rounded
									else
										h3.text-muted There was a problem getting the gigs info try a[href='/gigs'] here
				section#contact.homeSlide
					.bcg(data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 100px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#contact")
						.hsContainer
							.hsContent(data-bottom-top="opacity: 0.5" data-top="opacity: 1" data-anchor-target="#contact")
								h2.bgBlack Contact
									p 
										Send us an email to basementOrchestra@gggg.coming
									p 
										Or check us in Twitter or Facebook

block js

	script(src='/js/lib/waypoints/modernizr-2.7.1.min.js')
	script(src='/js/lib/owl/owl.carousel.min.js')
	script(src='/js/lib/skrollr/skrollr.js')
	script(src='/js/lib/skrollr/skrollr.menu.js')
	script(src='/js/lib/waypoints/waypoints.min.js')
	script(src='/js/lib/waypoints/imagesloaded.js')
	script(src='/js/lib/nav/jquery.slicknav.min.js')
	script(src='/js/lib/owl/owl.carousel.min.js')
	script(src='/js/init.js')

    
 
		